@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Inter", serif;
    font-size: 1.25em;
    --teal :#4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink:#D9526F;
    --dark-gray:#1E1E1E; 
    --white:#ffffff; 
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 428px;
    background-color: #484FB7;
    font-family: "Inter";
}

h1 {
    font-family: "Kavoon";
    font-size: 3em;
    color: #ffffff;
}

h2 {
    font-family: "Kavoon";
    font-size: 2em;
    color: #ffffff;
}

header {
    background-color: #6B8FE7;
    border-bottom-right-radius:  10%;
    border-bottom-left-radius:  10%;
    padding: 24px;

}
header p {
    background-color: #D9526F;
    text-align: center;
    font-style: italic;
    font-size: 12pt;
    color: #ffffff;
    padding: 25px;
    border-radius: 10%;
}



.services {
    background-color: #ffffff;
    margin: 80px;
}
.services p, h4, img {
    margin: 25px;
    font-family: "Inter";
}
nav li {
    position: sticky;
    right: auto;
    top: auto;
}

#services {

}
p {
    font-size: 11pt;
}

H1, H2
Kavoon
All other text
Inter
H1
3em
NAV H2
1.5em
H2
2em
H3
1.5em
H4
1.15em


